# Predicting Restaurant Food Cost

FEATURES:
TITLE: The feature of the restaurant which can help identify what and for whom it is suitable for.

RESTAURANT_ID: A unique ID for each restaurant.

CUISINES: The variety of cuisines that the restaurant offers.

TIME: The open hours of the restaurant.

CITY: The city in which the restaurant is located.

LOCALITY: The locality of the restaurant.

RATING: The average rating of the restaurant by customers.

VOTES: The overall votes received by the restaurant.

COST: The average cost of a two-person meal.

In [57]:
#import libraries
import pandas as pd
import numpy as np

In [58]:
#load dataset
df_train=pd.read_excel("Data_Train.xlsx")
df_test=pd.read_excel("Data_Test.xlsx")

In [59]:
#check basic insights of the datasets
df_train.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          12690 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          4231 non-null   object
 1   RESTAURANT_ID  4231 non-null   int64
 2   CUISINES       4231 non-null   object
 3   TIME           4231 non-null   object
 4   CITY           4196 non-null   object
 5   LOCALITY       4201 non-null   object
 6   RATING         4229 non-null   object
 7   VOTES          3829 non-null   object
dtypes: int64(1), object(7)
memory usage: 264.6+ KB

In [60]:
#create a column "source" to categorise train test data after merging
df_train["source"]="train"
df_test["source"]="test"

In [61]:
#merge train test datasets
df_food=pd.concat([df_train,df_test])
df_food

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0,train
...,...,...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes,NaN,test
4227,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes,NaN,test
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes,NaN,test
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN,NaN,test
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes,NaN,test

In [62]:
#lets reset the index
df_food.reset_index(drop=True,inplace=True)
#displaying data
df_food

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0,train
...,...,...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes,NaN,test
16917,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes,NaN,test
16918,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes,NaN,test
16919,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN,NaN,test
16920,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes,NaN,test

In [63]:
#basic insights
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16921 entries, 0 to 16920
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          16921 non-null  object
 1   RESTAURANT_ID  16921 non-null  int64
 2   CUISINES       16921 non-null  object
 3   TIME           16921 non-null  object
 4   CITY           16774 non-null  object
 5   LOCALITY       16793 non-null  object
 6   RATING         16917 non-null  object
 7   VOTES          15315 non-null  object
 8   COST           12690 non-null  float64
 9   source         16921 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

In [64]:
#Lets chcek null values
df_food.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES            1606
COST             4231
source              0
dtype: int64

In [65]:
#check count of unique values in each object columns
for col in df_food.columns:
    if df_food[col].dtype=="object":
        print(df_food[col].value_counts())
        print()

QUICK BITES                  5634
CASUAL DINING                4910
None                         1287
CAFÉ                          830
DESSERT PARLOR                508
                             ...
BAR,MICROBREWERY                1
KIOSK,FOOD COURT                1
DESSERT PARLOR,KIOSK            1
FOOD TRUCK,DESSERT PARLOR       1
CAFÉ,FOOD COURT                 1
Name: TITLE, Length: 123, dtype: int64

North Indian                                       716
North Indian, Chinese                              714
South Indian                                       706
Fast Food                                          364
Chinese                                            226
                                                  ...
Japanese, Seafood, Sushi, Continental, Desserts      1
Cafe, Desserts, Beverages                            1
Fast Food, Biryani, Desserts                         1
North Indian, Continental, Chinese, European         1
Bakery, Desserts, Juices                             1
Name: CUISINES, Length: 5183, dtype: int64

11am – 11pm (Mon-Sun)                               1862
12noon – 12midnight (Mon-Sun)                        615
12noon – 11pm (Mon-Sun)                              541
11am – 12midnight (Mon-Sun)                          419
10am – 10pm (Mon-Sun)                                288
                                                    ...
Closed (Mon),5am – 9:30pm (Tue-Sun)                    1
7:30am – 10:30am, 12noon – 3pm, 7pm – 10:30pm...       1
11am – 10pm (Mon-Fri),10am – 10pm (Sat-Sun)            1
12noon – 10:30pm (Mon, Tue, Thu, Fri), Closed...       1
9am – 10pm (Mon-Sat),6pm – 10pm (Sun)                  1
Name: TIME, Length: 3295, dtype: int64

Chennai                           2855
Bangalore                         2835
Hyderabad                         2458
Mumbai                            2311
New Delhi                         1754
                                  ...
Chennai 600034.                      1
ECR NEELANKARAI Chennai 600115       1
Old Railway Road                     1
Gandipet                             1
Tavarekere Main Road                 1
Name: CITY, Length: 450, dtype: int64

Gachibowli           216
Indiranagar          187
Kakkanad             175
Kukatpally           171
Madhapur             169
                    ...
Dattapada Road         1
4th phase              1
Old Nagardas Road      1
Sonia Nagar            1
Near Sector 31         1
Name: LOCALITY, Length: 1636, dtype: int64

3.9    1643
3.8    1604
4.0    1498
3.7    1437
3.6    1261
4.1    1217
3.5     988
4.2     968
NEW     930
3.4     777
4.3     740
-       672
3.3     485
4.4     484
3.2     349
4.5     274
3.1     263
2.9     242
3.0     229
2.8     191
4.6     184
2.7     129
4.7      90
2.6      85
2.5      51
4.8      49
4.9      28
2.4      24
2.3      15
2.2       4
2.1       4
2.0       2
Name: RATING, dtype: int64

44 votes      92
22 votes      88
6 votes       87
29 votes      83
24 votes      81
              ..
1726 votes     1
4285 votes     1
2286 votes     1
1735 votes     1
1745 votes     1
Name: VOTES, Length: 2075, dtype: int64

train    12690
test      4231
Name: source, dtype: int64

In [66]:
#lets chcek all the rows where votes are null
df_food.loc[df_food["VOTES"].isnull()]
#So we can say there is a pattern where ever resturant is new and rating is missing there are no votes
#We can impute votes by 0 as for new resurants or missing rating its logical to have no votes

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
13,CASUAL DINING,4319,South Indian,11am – 11:30pm (Mon-Sun),Kochi,Edappally,-,NaN,400.0,train
62,QUICK BITES,7841,"North Indian, Beverages",11am – 11pm (Mon-Sun),Kochi,Kalamassery,NEW,NaN,200.0,train
69,None,11096,"Pizza, Fast Food",11am – 11pm (Mon-Sun),New Delhi,Kalkaji,NEW,NaN,200.0,train
85,QUICK BITES,12657,"North Indian, South Indian","Closed (Mon),7:30am – 10:30pm (Tue-Sun)",Bangalore,Vijay Nagar,-,NaN,300.0,train
111,CASUAL DINING,7095,"Gujarati, Rajasthani, North Indian","11:30am – 3:30pm, 7pm – 11pm (Mon-Sun)",Mumbai,Borivali West,NEW,NaN,800.0,train
...,...,...,...,...,...,...,...,...,...,...
16873,CAFÉ,7007,"Cafe, North Indian",11am – 11pm (Mon-Sun),Noida,Sector 63,NEW,NaN,NaN,test
16875,QUICK BITES,6387,Fast Food,12:30pm – 10:30pm (Mon-Sun),New Delhi,Shalimar Bagh,NEW,NaN,NaN,test
16888,QUICK BITES,13381,Continental,11am – 12midnight (Mon-Sun),Bangalore,Indiranagar,NEW,NaN,NaN,test
16913,CASUAL DINING,6887,"Sindhi, Street Food","11:30am – 4pm, 7pm – 11:30pm (Mon-Sun)",Mumbai,Lower Parel,NEW,NaN,NaN,test
16919,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN,NaN,test

In [67]:
#Imputing missing cells in votes column by 0
df_food["VOTES"].fillna(0,inplace=True)

In [68]:
#So rating column has been imputed
df_food["VOTES"].isnull().sum()

0

In [69]:
#chceking value counts for "RATING"
df_food["RATING"].value_counts()

3.9    1643
3.8    1604
4.0    1498
3.7    1437
3.6    1261
4.1    1217
3.5     988
4.2     968
NEW     930
3.4     777
4.3     740
-       672
3.3     485
4.4     484
3.2     349
4.5     274
3.1     263
2.9     242
3.0     229
2.8     191
4.6     184
2.7     129
4.7      90
2.6      85
2.5      51
4.8      49
4.9      28
2.4      24
2.3      15
2.2       4
2.1       4
2.0       2
Name: RATING, dtype: int64

In [70]:
#where resurant are NEW and - we will replace by 0 and  and also null values by 0
#By doing this column can be interpretted as numeric
df_food["RATING"].replace("NEW",0,inplace=True)
df_food["RATING"].replace("-",0,inplace=True)
df_food["RATING"].fillna(0,inplace=True)

In [71]:
#So rating column has been imputed
df_food["RATING"].isnull().sum()

0

In [72]:
#check datatypes of columns
df_food.dtypes

TITLE             object
RESTAURANT_ID      int64
CUISINES          object
TIME              object
CITY              object
LOCALITY          object
RATING            object
VOTES             object
COST             float64
source            object
dtype: object

In [73]:
#Lets change the datatypes of"RATING" to float
df_food["RATING"]=df_food["RATING"].astype(float)

In [74]:
#If we closely look at the"VOTES" column it can be conveted to int by stripping off "votes" string wherever present
df_food["VOTES"].loc[df_food["VOTES"].str[-5:]=="votes"]=df_food["VOTES"].loc[df_food["VOTES"].str[-5:]=="votes"].str.rstrip("votes")

In [75]:
#lets now convert the "VOTES" column to int
df_food["VOTES"]=df_food["VOTES"].astype(int)

In [76]:
#lets chcek where city is null
df_food.loc[df_food["CITY"].isnull()]
#By seeing the data we come to know in most of the rows when city is NAN LOCALITY is also NAN
#So we will impute both columns with "missing" when ever both we will encounter as NaN

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
129,None,9101,"North Indian, South Indian, Chinese, Continental","12noon – 3pm, 7pm – 2am (Mon-Sun)",NaN,NaN,3.6,728,500.0,train
246,QUICK BITES,14502,Biryani,12noon – 11pm (Mon-Sun),NaN,Palarivattom Kochi,3.4,82,300.0,train
411,None,6313,"North Indian, Chinese, Pizza, Burger, Fast Food",7pm – 4am (Mon-Sun),NaN,NaN,4.0,29,600.0,train
466,None,1133,North Indian,4pm – 9pm (Mon-Sun),NaN,NaN,4.2,55,200.0,train
481,None,4788,Street Food,"11am – 11pm (Mon),9:30am – 12midnight (Tue-Sun)",NaN,NaN,3.7,616,250.0,train
...,...,...,...,...,...,...,...,...,...,...
16311,"PUB,CASUAL DINING",9779,"Continental, Mexican, American",5pm – 1:30am (Mon-Sun),NaN,Maharashtra 400013,4.0,1142,NaN,test
16313,CASUAL DINING,5922,"North Indian, South Indian, Chinese, Biryani",6am – 11:30pm (Mon-Sun),NaN,NaN,3.5,102,NaN,test
16803,None,4748,"Fast Food, Italian, Pizza, Sandwich",1pm – 8am (Mon-Sun),NaN,NaN,3.7,27,NaN,test
16815,QUICK BITES,8587,"Chinese, North Indian","11:45am – 3:30pm, 7:30pm – 11:40pm (Mon, Sat)...",NaN,NaN,3.5,25,NaN,test
16857,QUICK BITES,12015,Lebanese,4pm – 11pm (Mon-Sun),NaN,Chennai,3.7,124,NaN,test

In [77]:
#imputing both "LOCALITY" and "CITY" columns with "missing" when ever both are nan
import math
null_city_indexes=df_food.loc[df_food["CITY"].isnull()].index
for index in null_city_indexes :
    try:
        if math.isnan(df_food["CITY"].iloc[index]) and math.isnan(df_food["LOCALITY"].iloc[index]):
            df_food["CITY"].iloc[index]="missing"
            df_food["LOCALITY"].iloc[index]="missing"
    except:
        pass

In [78]:
#lets again chcek the null values
df_food.isnull().sum()
#So we see number null values in the column "CITY" AND "LOCALITY" reduced significantly

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY               20
LOCALITY            1
RATING              0
VOTES               0
COST             4231
source              0
dtype: int64

In [79]:
#again check data types
df_food.dtypes

TITLE             object
RESTAURANT_ID      int64
CUISINES          object
TIME              object
CITY              object
LOCALITY          object
RATING           float64
VOTES              int32
COST             float64
source            object
dtype: object

In [80]:
#lets chcek where city is null
df_food.loc[df_food["CITY"].isnull()]
#We see in most of the rows in LOCALITY city name is mentioned

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
246,QUICK BITES,14502,Biryani,12noon – 11pm (Mon-Sun),NaN,Palarivattom Kochi,3.4,82,300.0,train
817,CASUAL DINING,1042,"Thai, Chinese, Continental, North Indian, Italian",12noon – 12midnight (Mon-Sun),NaN,shop 7 shikrupa socity,4.1,486,1200.0,train
5149,"BEVERAGE SHOP,DESSERT PARLOR",7264,"Beverages, Ice Cream, Desserts",11am – 11pm (Mon-Sun),NaN,Navi Mumbai,3.8,163,400.0,train
5297,CASUAL DINING,1030,Continental,24 Hours (Mon-Sun),NaN,Kochi,3.4,19,1000.0,train
6397,CAFÉ,7334,"Cafe, American, Asian, Bakery, Biryani, Chines...",9am – 9:30pm (Mon-Sun),NaN,Alibaug,4.2,253,950.0,train
6451,BAKERY,2595,Bakery,10am – 10pm (Mon-Sun),NaN,Chennai,3.5,10,400.0,train
8456,QUICK BITES,12367,"Fast Food, Beverages",9:30am – 11pm (Mon-Sun),NaN,Mathikere,3.7,28,150.0,train
8735,CASUAL DINING,15526,"Chinese, Burger",11am – 11pm (Mon-Sun),NaN,Chennai,3.8,284,400.0,train
9121,"PUB,CASUAL DINING",9800,"Finger Food, American, Continental, Burger, Pizza",11am – 1am (Mon-Sun),NaN,Bangalore,3.9,557,1500.0,train
9268,QUICK BITES,12021,Lebanese,11am – 11pm (Mon-Sun),NaN,Kochi,3.4,14,200.0,train
10200,QUICK BITES,1433,"North Indian, Chinese, Sandwich, Street Food, ...","7:30am – 12midnight (Mon, Tue, Wed, Thu, Sat...",NaN,Kalyan,3.5,40,300.0,train
10704,CASUAL DINING,5552,"Continental, Fast Food",12noon – 12midnight (Mon-Sun),NaN,Chennai,4.0,68,650.0,train
11491,QUICK BITES,954,"Arabian, North Indian, Chinese",11am – 11pm (Mon-Sun),NaN,Chennai,3.0,109,500.0,train
12314,CASUAL DINING,11724,"North Indian, Bengali","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",NaN,Opposite to corporation bank and LIC office ba...,4.3,775,650.0,train
12447,QUICK BITES,7314,"North Indian, Chinese, Mughlai, Seafood",12:30pm – 12midnight (Mon-Sun),NaN,Hyderabad,3.1,44,350.0,train
12859,QUICK BITES,10663,"North Indian, Chinese",11am – 11pm (Mon-Sun),NaN,Chennai,3.5,161,NaN,test
13400,QUICK BITES,451,"Arabian, North Indian, Chinese","12noon – 3pm, 5:30pm – 11pm (Mon-Sun)",NaN,Chennai,3.4,69,NaN,test
14044,QUICK BITES,14152,"North Indian, Chinese, Mughlai","11:30am – 4pm, 5pm – 11pm (Mon-Sun)",NaN,Jaipuria Sunrise Plaza,3.9,362,NaN,test
16311,"PUB,CASUAL DINING",9779,"Continental, Mexican, American",5pm – 1:30am (Mon-Sun),NaN,Maharashtra 400013,4.0,1142,NaN,test
16857,QUICK BITES,12015,Lebanese,4pm – 11pm (Mon-Sun),NaN,Chennai,3.7,124,NaN,test

In [81]:
#lets collect city names after removing dupliactes
city_list=df_food["CITY"].drop_duplicates().to_list()

In [82]:
null_city_indexes=df_food.loc[df_food["CITY"].isnull()].index

In [83]:
for index in null_city_indexes:
    for city in city_list:
        if city in df_food["LOCALITY"].iloc[index].split():
            df_food["CITY"].iloc[index]=city

In [84]:
#lets chcek number of rows left where city is null
df_food.loc[df_food["CITY"].isnull()]

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
817,CASUAL DINING,1042,"Thai, Chinese, Continental, North Indian, Italian",12noon – 12midnight (Mon-Sun),NaN,shop 7 shikrupa socity,4.1,486,1200.0,train
6397,CAFÉ,7334,"Cafe, American, Asian, Bakery, Biryani, Chines...",9am – 9:30pm (Mon-Sun),NaN,Alibaug,4.2,253,950.0,train
8456,QUICK BITES,12367,"Fast Food, Beverages",9:30am – 11pm (Mon-Sun),NaN,Mathikere,3.7,28,150.0,train
12314,CASUAL DINING,11724,"North Indian, Bengali","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",NaN,Opposite to corporation bank and LIC office ba...,4.3,775,650.0,train
14044,QUICK BITES,14152,"North Indian, Chinese, Mughlai","11:30am – 4pm, 5pm – 11pm (Mon-Sun)",NaN,Jaipuria Sunrise Plaza,3.9,362,NaN,test

In [85]:
#Now we will impute "CITY" and "LOCALITY" as missing
df_food["CITY"].fillna("missing",inplace=True)
df_food["LOCALITY"].fillna("missing",inplace=True)

In [86]:
#Lets chcek the null values again
df_food.isnull().sum()
#4231 is the cost which need to predicted in test dataset

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY                0
LOCALITY            0
RATING              0
VOTES               0
COST             4231
source              0
dtype: int64

In [87]:
df_food

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165,300.0,train
...,...,...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287,NaN,test
16917,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469,NaN,test
16918,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53,NaN,test
16919,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,0.0,0,NaN,test
16920,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63,NaN,test

In [88]:
#Lets drop "RESTAURANT_ID" and "TIME" from the dataset
df_food.drop(columns=["RESTAURANT_ID","TIME"],inplace=True)

In [89]:
df_food

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST,source
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49,1200.0,train
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30,1500.0,train
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221,800.0,train
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24,800.0,train
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165,300.0,train
...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,"North Indian, Mughlai, Chinese",New Delhi,Punjabi Bagh,3.9,287,NaN,test
16917,None,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,HSR Layout,4.3,469,NaN,test
16918,QUICK BITES,"Continental, North Indian",Faridabad,Sector 86,3.7,53,NaN,test
16919,QUICK BITES,"Rolls, Beverages",Kochi,Kochi,0.0,0,NaN,test
16920,QUICK BITES,Mughlai,Bandra West,Perry Cross Road,3.7,63,NaN,test

In [90]:
#Now we will divide the CUISINES column into multiple columns
#First we will find maximum number of cuisines resutarnt are serving
max_cuisines=-1
for i in range(len(df_food["CUISINES"])):
    temp=len(df_food["CUISINES"].iloc[i].split(","))
    if temp>max_cuisines:
        max_cuisines=temp
print("Max number of cuisines serverd are :{}".format(max_cuisines))

Max number of cuisines serverd are :8

In [91]:
c1=list()
c2=list()
c3=list()
c4=list()
c5=list()
c6=list()
c7=list()
c8=list()
for i in range(len(df_food["CUISINES"])):
    temp=df_food["CUISINES"].iloc[i].split(",")
    try :
        c1.append(temp[0].strip().upper())
    except :
        c1.append('NONE')
    try :
        c2.append(temp[1].strip().upper())
    except :
        c2.append('NONE')
    try :
        c3.append(temp[2].strip().upper())
    except :
        c3.append('NONE')
    try :
        c4.append(temp[3].strip().upper())
    except :
        c4.append('NONE')
    try :
        c5.append(temp[4].strip().upper())
    except :
        c5.append('NONE')
    try :
        c6.append(temp[5].strip().upper())
    except :
        c6.append('NONE')
    try :
        c7.append(temp[6].strip().upper())
    except :
        c7.append('NONE')
    try :
        c8.append(temp[7].strip().upper())
    except :
        c8.append('NONE')

In [92]:
df_food["c1"]=c1
df_food["c2"]=c2
df_food["c3"]=c3
df_food["c4"]=c4
df_food["c5"]=c5
df_food["c6"]=c6
df_food["c7"]=c7
df_food["c8"]=c8

In [93]:
#Now we will divide the "TITLE" column into multiple columns
#First we will find maximum number of TITLE resutarnt having
max_titles=-1
for i in range(len(df_food["TITLE"])):
    temp=len(df_food["TITLE"].iloc[i].split(","))
    if temp>max_titles:
        max_titles=temp
print("Max number of titles are :{}".format(max_titles))

Max number of titles are :2

In [94]:
t1=list()
t2=list()
for i in range(len(df_food["TITLE"])):
    temp=df_food["TITLE"].iloc[i].split(",")
    try :
        t1.append(temp[0].strip().upper())
    except :
        t1.append('NONE')
    try :
        t2.append(temp[1].strip().upper())
    except :
        t2.append('NONE')

In [95]:
df_food["t1"]=t1
df_food["t2"]=t2

In [96]:
#We can drop "CUISINE" and "TITLE"columns
df_food.drop(columns=["CUISINES","TITLE"],inplace=True)

In [97]:
df_food

,CITY,LOCALITY,RATING,VOTES,COST,source,c1,c2,c3,c4,c5,c6,c7,c8,t1,t2
0,Thane,Dombivali East,3.6,49,1200.0,train,MALWANI,GOAN,NORTH INDIAN,NONE,NONE,NONE,NONE,NONE,CASUAL DINING,NONE
1,Chennai,Ramapuram,4.2,30,1500.0,train,ASIAN,MODERN INDIAN,JAPANESE,NONE,NONE,NONE,NONE,NONE,CASUAL DINING,BAR
2,Chennai,Saligramam,3.8,221,800.0,train,NORTH INDIAN,CHINESE,BIRYANI,HYDERABADI,NONE,NONE,NONE,NONE,CASUAL DINING,NONE
3,Mumbai,Bandra West,4.1,24,800.0,train,TIBETAN,CHINESE,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE
4,Mumbai,Lower Parel,3.8,165,300.0,train,DESSERTS,NONE,NONE,NONE,NONE,NONE,NONE,NONE,DESSERT PARLOR,NONE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16916,New Delhi,Punjabi Bagh,3.9,287,NaN,test,NORTH INDIAN,MUGHLAI,CHINESE,NONE,NONE,NONE,NONE,NONE,CASUAL DINING,NONE
16917,Bangalore,HSR Layout,4.3,469,NaN,test,BIRYANI,NORTH INDIAN,SANDWICH,SALAD,WRAPS,NONE,NONE,NONE,NONE,NONE
16918,Faridabad,Sector 86,3.7,53,NaN,test,CONTINENTAL,NORTH INDIAN,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE
16919,Kochi,Kochi,0.0,0,NaN,test,ROLLS,BEVERAGES,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE
16920,Bandra West,Perry Cross Road,3.7,63,NaN,test,MUGHLAI,NONE,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE

In [98]:
from sklearn.preprocessing import LabelEncoder
for col in df_food.columns:
    if df_food[col].dtype=="object":
        df_food[col]=LabelEncoder().fit_transform(df_food[col])

In [99]:
#Displaying the dataset
df_food

,CITY,LOCALITY,RATING,VOTES,COST,source,c1,c2,c3,c4,c5,c6,c7,c8,t1,t2
0,400,328,3.6,49,1200.0,1,61,32,72,64,62,50,41,18,5,16
1,75,1214,4.2,30,1500.0,1,6,62,45,64,62,50,41,18,5,1
2,75,1272,3.8,221,800.0,1,74,23,14,34,62,50,41,18,5,16
3,277,161,4.1,24,800.0,1,102,23,70,64,62,50,41,18,23,16
4,277,709,3.8,165,300.0,1,30,67,70,64,62,50,41,18,9,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16916,316,1184,3.9,287,NaN,0,74,64,23,64,62,50,41,18,5,16
16917,42,461,4.3,469,NaN,0,15,69,83,73,83,50,41,18,20,16
16918,128,1370,3.7,53,NaN,0,29,69,70,64,62,50,41,18,23,16
16919,216,642,0.0,0,NaN,0,84,12,70,64,62,50,41,18,23,16
16920,40,1148,3.7,63,NaN,0,69,67,70,64,62,50,41,18,23,16

In [100]:
#Lets chcek the datatypes
df_food.dtypes

CITY          int32
LOCALITY      int32
RATING      float64
VOTES         int32
COST        float64
source        int32
c1            int32
c2            int32
c3            int32
c4            int32
c5            int32
c6            int32
c7            int32
c8            int32
t1            int32
t2            int32
dtype: object

In [101]:
df_train=df_food.loc[df_food["source"]==1]
df_test=df_food.loc[df_food["source"]==0]

In [102]:
#Resetting the index
df_test.reset_index(drop=True,inplace=True)

In [103]:
#Dropping the source column
df_train.drop(columns=["source"],inplace=True)
df_test.drop(columns=["source"],inplace=True)

In [104]:
#Lets seprate the input and output from train dataset
df_x=df_train.drop(columns=["COST"])
y=df_train[["COST"]]

In [105]:
#to find random stat which gives maximum r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
def maxr2_score(regr,df_x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state," is ",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state," is ",max_r_score)
    return final_r_state

In [106]:
#Lets use decision tree
from sklearn.tree import DecisionTreeRegressor
import numpy as np
dtr=DecisionTreeRegressor()
r_state=maxr2_score(dtr,df_x,y)

r2 score corresponding to  42  is  0.5166197944289839
r2 score corresponding to  43  is  0.5018843610100252
r2 score corresponding to  44  is  0.46881784493643164
r2 score corresponding to  45  is  0.4624862393493736
r2 score corresponding to  46  is  0.4391943681019046
r2 score corresponding to  47  is  0.5209850004702425
r2 score corresponding to  48  is  -0.027353614708953033
r2 score corresponding to  49  is  0.47916464525096536
r2 score corresponding to  50  is  0.08427606238265895
r2 score corresponding to  51  is  0.4195262347114739
r2 score corresponding to  52  is  0.37935505127160585
r2 score corresponding to  53  is  0.49873793974853864
r2 score corresponding to  54  is  0.14628169811299063
r2 score corresponding to  55  is  0.44750308279760465
r2 score corresponding to  56  is  0.514106105155478
r2 score corresponding to  57  is  0.42754301078617907
r2 score corresponding to  58  is  0.434730005949295
r2 score corresponding to  59  is  0.41421774727082483
r2 score corresponding to  60  is  0.5132605852340326
r2 score corresponding to  61  is  0.4469311346636897
r2 score corresponding to  62  is  0.36088095029574474
r2 score corresponding to  63  is  0.2872275220264978
r2 score corresponding to  64  is  0.46870603091385354
r2 score corresponding to  65  is  0.31444684448729987
r2 score corresponding to  66  is  0.38374803275201474
r2 score corresponding to  67  is  0.4069510957252772
r2 score corresponding to  68  is  0.4752803871387561
r2 score corresponding to  69  is  0.513644405639412
r2 score corresponding to  70  is  0.4963637851923113
r2 score corresponding to  71  is  0.4474420555942791
r2 score corresponding to  72  is  0.46069121081024367
r2 score corresponding to  73  is  0.21870456022011442
r2 score corresponding to  74  is  0.4356096163374371
r2 score corresponding to  75  is  0.4545752248238639
r2 score corresponding to  76  is  0.5044486167041861
r2 score corresponding to  77  is  0.5425435447946818
r2 score corresponding to  78  is  0.47540594412473025
r2 score corresponding to  79  is  0.16853241351298798
r2 score corresponding to  80  is  0.541556988521345
r2 score corresponding to  81  is  0.5367716588329976
r2 score corresponding to  82  is  0.43610468938801594
r2 score corresponding to  83  is  0.40986327712643533
r2 score corresponding to  84  is  0.4156574138943473
r2 score corresponding to  85  is  0.41153486715440035
r2 score corresponding to  86  is  0.5016337073158459
r2 score corresponding to  87  is  0.44611495490348163
r2 score corresponding to  88  is  0.5005699302152802
r2 score corresponding to  89  is  0.4780238535151211
r2 score corresponding to  90  is  0.5185318975536879
r2 score corresponding to  91  is  0.43314128726577994
r2 score corresponding to  92  is  0.1996405549451038
r2 score corresponding to  93  is  0.5543337225763938
r2 score corresponding to  94  is  0.4554722482934197
r2 score corresponding to  95  is  0.45356644215510855
r2 score corresponding to  96  is  0.4446939372925931
r2 score corresponding to  97  is  0.3412085997092905
r2 score corresponding to  98  is  0.49493765393393097
r2 score corresponding to  99  is  0.44497923421243346
max r2 score corresponding to  93  is  0.5543337225763938

In [107]:
#lets use random forest regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings("ignore")
rfr=RandomForestRegressor()
parameters = {"n_estimators":[10,100,500]}
clf = GridSearchCV(rfr, parameters, cv=5,scoring="r2")
clf.fit(df_x,y)
clf.best_params_

{'n_estimators': 500}

In [108]:
rfr=RandomForestRegressor(n_estimators=500)
r_state=maxr2_score(rfr,df_x,y)

r2 score corresponding to  42  is  0.7371473783403402
r2 score corresponding to  43  is  0.7451016864942922
r2 score corresponding to  44  is  0.7166071782934424
r2 score corresponding to  45  is  0.6950223645812285
r2 score corresponding to  46  is  0.7380050043198296
r2 score corresponding to  47  is  0.7116616961513902
r2 score corresponding to  48  is  0.6182727626237664
r2 score corresponding to  49  is  0.6392364674625706
r2 score corresponding to  50  is  0.7121614284506386
r2 score corresponding to  51  is  0.7271919739051238
r2 score corresponding to  52  is  0.6207732628730127
r2 score corresponding to  53  is  0.7222697249532344
r2 score corresponding to  54  is  0.6909605458842776
r2 score corresponding to  55  is  0.7513240992535243
r2 score corresponding to  56  is  0.719937476920097
r2 score corresponding to  57  is  0.6869698665142321
r2 score corresponding to  58  is  0.6313713568988442
r2 score corresponding to  59  is  0.7258109456691657
r2 score corresponding to  60  is  0.7368950734152606
r2 score corresponding to  61  is  0.6873841570193955
r2 score corresponding to  62  is  0.6262042609717172
r2 score corresponding to  63  is  0.7142235460314909
r2 score corresponding to  64  is  0.6674354288671411
r2 score corresponding to  65  is  0.6871501381393668
r2 score corresponding to  66  is  0.7287249902387645
r2 score corresponding to  67  is  0.6839838089395165
r2 score corresponding to  68  is  0.7254931077865477
r2 score corresponding to  69  is  0.6611432337203895
r2 score corresponding to  70  is  0.7292803813848412
r2 score corresponding to  71  is  0.7349226060612497
r2 score corresponding to  72  is  0.738787807362069
r2 score corresponding to  73  is  0.665745566604726
r2 score corresponding to  74  is  0.7461164468923547
r2 score corresponding to  75  is  0.6876441789905823
r2 score corresponding to  76  is  0.7479568986274587
r2 score corresponding to  77  is  0.7528838510252909
r2 score corresponding to  78  is  0.6647537281456313
r2 score corresponding to  79  is  0.7361190375005073
r2 score corresponding to  80  is  0.7221842058423045
r2 score corresponding to  81  is  0.7264539442044577
r2 score corresponding to  82  is  0.7108541693467405
r2 score corresponding to  83  is  0.6562495124830483
r2 score corresponding to  84  is  0.7265717245886725
r2 score corresponding to  85  is  0.7071164045675948
r2 score corresponding to  86  is  0.7250842551113607
r2 score corresponding to  87  is  0.7113680586904296
r2 score corresponding to  88  is  0.724405275938661
r2 score corresponding to  89  is  0.70782153800634
r2 score corresponding to  90  is  0.7247863821701219
r2 score corresponding to  91  is  0.725885028479323
r2 score corresponding to  92  is  0.7098867806230025
r2 score corresponding to  93  is  0.7326629313425879
r2 score corresponding to  94  is  0.7343552891001739
r2 score corresponding to  95  is  0.7111006209301525
r2 score corresponding to  96  is  0.6439673783002549
r2 score corresponding to  97  is  0.629859628888516
r2 score corresponding to  98  is  0.7040168248943375
r2 score corresponding to  99  is  0.7092541495124612
max r2 score corresponding to  77  is  0.7528838510252909

In [109]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings("ignore")
lg = lgb.LGBMRegressor(silent=True)
param_dist = {"max_depth": [25,50, 75],
              "learning_rate" : [0.01,0.05,0.1],
              "num_leaves": [300,900,1200],
              "n_estimators": [200]
             }
grid_search = GridSearchCV(lg, n_jobs=-1, param_grid=param_dist, cv = 5,  scoring="r2")
grid_search.fit(df_x,y)
grid_search.best_estimator_

LGBMRegressor(learning_rate=0.05, max_depth=25, n_estimators=200,
              num_leaves=900)

In [110]:
lgbr=lgb.LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.05, max_depth=25,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=200, n_jobs=-1, num_leaves=900, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
r_state=maxr2_score(lgbr,df_x,y)
#Here we see that lightfbm was faster and better than random forest

r2 score corresponding to  42  is  0.7424770306203295
r2 score corresponding to  43  is  0.7507807811895104
r2 score corresponding to  44  is  0.7205369510709456
r2 score corresponding to  45  is  0.6899957169025271
r2 score corresponding to  46  is  0.7482269937551251
r2 score corresponding to  47  is  0.7139496319087251
r2 score corresponding to  48  is  0.7169652214140452
r2 score corresponding to  49  is  0.655852205037972
r2 score corresponding to  50  is  0.7525341313760034
r2 score corresponding to  51  is  0.74361183465738
r2 score corresponding to  52  is  0.632601376781498
r2 score corresponding to  53  is  0.7416426867852044
r2 score corresponding to  54  is  0.7072601484828591
r2 score corresponding to  55  is  0.7383601813292315
r2 score corresponding to  56  is  0.7206273042625527
r2 score corresponding to  57  is  0.6968040466088838
r2 score corresponding to  58  is  0.6368049457969613
r2 score corresponding to  59  is  0.7398984646511302
r2 score corresponding to  60  is  0.7510999558105526
r2 score corresponding to  61  is  0.7130193813399207
r2 score corresponding to  62  is  0.6584058021913257
r2 score corresponding to  63  is  0.731813303719909
r2 score corresponding to  64  is  0.6693954478617861
r2 score corresponding to  65  is  0.6984670113100554
r2 score corresponding to  66  is  0.7158336101773447
r2 score corresponding to  67  is  0.7042768341471594
r2 score corresponding to  68  is  0.73827201659868
r2 score corresponding to  69  is  0.6648921025915092
r2 score corresponding to  70  is  0.7201201346820942
r2 score corresponding to  71  is  0.7412240338069451
r2 score corresponding to  72  is  0.7415118211178402
r2 score corresponding to  73  is  0.6950686563284233
r2 score corresponding to  74  is  0.7530751411381014
r2 score corresponding to  75  is  0.686579505573403
r2 score corresponding to  76  is  0.7420550909552267
r2 score corresponding to  77  is  0.7555842553204534
r2 score corresponding to  78  is  0.6760215336665762
r2 score corresponding to  79  is  0.7344693804085678
r2 score corresponding to  80  is  0.7340220300880425
r2 score corresponding to  81  is  0.7305831334356683
r2 score corresponding to  82  is  0.7621309683410685
r2 score corresponding to  83  is  0.6576529805734256
r2 score corresponding to  84  is  0.7396921280245283
r2 score corresponding to  85  is  0.7354699159863913
r2 score corresponding to  86  is  0.7344533421049346
r2 score corresponding to  87  is  0.7366824611039949
r2 score corresponding to  88  is  0.7345250708007611
r2 score corresponding to  89  is  0.7115972774705848
r2 score corresponding to  90  is  0.7329062850595688
r2 score corresponding to  91  is  0.7338123089825006
r2 score corresponding to  92  is  0.7425648460824953
r2 score corresponding to  93  is  0.7527817872080458
r2 score corresponding to  94  is  0.7419943925845108
r2 score corresponding to  95  is  0.7219272459262109
r2 score corresponding to  96  is  0.6445102466986317
r2 score corresponding to  97  is  0.6307525930653644
r2 score corresponding to  98  is  0.7133051131625936
r2 score corresponding to  99  is  0.7051622523004916
max r2 score corresponding to  82  is  0.7621309683410685

In [111]:
grid_search.best_params_

{'learning_rate': 0.05,
 'max_depth': 25,
 'n_estimators': 200,
 'num_leaves': 900}

In [112]:
#LGBM also give provision to define which all columns should be treated as categorical
#So we will use above provision and see what is the result
params={'learning_rate': 0.05,'max_depth': 25,'n_estimators': 200,'num_leaves': 900,'verbose': -1}
cate_features_name=['CITY', 'LOCALITY', 'c1', 'c2', 'c3', 'c4', 'c5','c6', 'c7', 'c8', 't1', 't2']
max_r_score=0
for r_state in range(42,100):
    x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = r_state,test_size=0.20)
    d_train = lgb.Dataset(x_train, label=y_train)
    lgb_model = lgb.train(params, d_train, categorical_feature = cate_features_name)
    y_pred = lgb_model.predict(x_test)
    r2_scr=r2_score(y_test,y_pred)
    print("r2 score corresponding to ",r_state," is ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state
print("max r2 score corresponding to ",final_r_state," is ",max_r_score)

r2 score corresponding to  42  is  0.7579184160139962
r2 score corresponding to  43  is  0.7809430481295782
r2 score corresponding to  44  is  0.7472342121877898
r2 score corresponding to  45  is  0.7267229491462726
r2 score corresponding to  46  is  0.7626055413785982
r2 score corresponding to  47  is  0.7370667013167143
r2 score corresponding to  48  is  0.7426972700284731
r2 score corresponding to  49  is  0.6627247120737827
r2 score corresponding to  50  is  0.755903239601394
r2 score corresponding to  51  is  0.7486832730616513
r2 score corresponding to  52  is  0.6621709258914668
r2 score corresponding to  53  is  0.7448079207351384
r2 score corresponding to  54  is  0.7431418126669047
r2 score corresponding to  55  is  0.7494378470428067
r2 score corresponding to  56  is  0.7377047921093476
r2 score corresponding to  57  is  0.733106904395517
r2 score corresponding to  58  is  0.6658756668537175
r2 score corresponding to  59  is  0.7689480729958781
r2 score corresponding to  60  is  0.7553757705879368
r2 score corresponding to  61  is  0.7515839968275326
r2 score corresponding to  62  is  0.6752526016192812
r2 score corresponding to  63  is  0.7493924258694713
r2 score corresponding to  64  is  0.6819975089952355
r2 score corresponding to  65  is  0.733656931391361
r2 score corresponding to  66  is  0.7402256993999492
r2 score corresponding to  67  is  0.7463507347076828
r2 score corresponding to  68  is  0.7520870929875321
r2 score corresponding to  69  is  0.680000833038791
r2 score corresponding to  70  is  0.724348601849437
r2 score corresponding to  71  is  0.7596517696706846
r2 score corresponding to  72  is  0.7621501532948909
r2 score corresponding to  73  is  0.7171169062298817
r2 score corresponding to  74  is  0.761893535707397
r2 score corresponding to  75  is  0.7056697965168424
r2 score corresponding to  76  is  0.7652337802407014
r2 score corresponding to  77  is  0.7692372588385117
r2 score corresponding to  78  is  0.6987678173723499
r2 score corresponding to  79  is  0.7759991218042763
r2 score corresponding to  80  is  0.7510442383359224
r2 score corresponding to  81  is  0.751197989411669
r2 score corresponding to  82  is  0.7758003347485354
r2 score corresponding to  83  is  0.6755002044394705
r2 score corresponding to  84  is  0.7633590120858121
r2 score corresponding to  85  is  0.7694036275963945
r2 score corresponding to  86  is  0.7575151939212528
r2 score corresponding to  87  is  0.7577561255251987
r2 score corresponding to  88  is  0.7480756915647593
r2 score corresponding to  89  is  0.756898169370943
r2 score corresponding to  90  is  0.7411971559209358
r2 score corresponding to  91  is  0.7753956065917151
r2 score corresponding to  92  is  0.7554421346632689
r2 score corresponding to  93  is  0.778242533714419
r2 score corresponding to  94  is  0.7783746666671958
r2 score corresponding to  95  is  0.7609989289321601
r2 score corresponding to  96  is  0.670398448879588
r2 score corresponding to  97  is  0.6597932652675617
r2 score corresponding to  98  is  0.7422153421643143
r2 score corresponding to  99  is  0.73470693575789
max r2 score corresponding to  43  is  0.7809430481295782

In [113]:
#lets make a function which evaluates the model using cross_val_score
from sklearn.model_selection import cross_val_score
def model_evaluation(model,x,y):
    c_scores=cross_val_score(model,x,y,cv=5,scoring="r2")
    print("Mean r2 score for regressor: ",c_scores.mean())
    print("standard deviation in r2 score for regressor: ",c_scores.std())
    print(c_scores)

In [114]:
#The above model i.e light gradient boosting works better when categorical features are defined
#So we will use this to create our final model
#Also when compared to random forest its giving better and fast results
#Lets chcek the cross_val_scores
from sklearn.model_selection import KFold
scores=[]
cate_features_name=['CITY', 'LOCALITY', 'c1', 'c2', 'c3', 'c4', 'c5','c6', 'c7', 'c8', 't1', 't2']
k_fold = KFold(n_splits=5)
for train_index,test_index in k_fold.split(df_x):
    x_train, x_test, y_train, y_test = df_x.iloc[train_index], df_x.iloc[test_index], y.iloc[train_index], y.iloc[test_index]
    d_train = lgb.Dataset(x_train, label=y_train)
    lgb_model = lgb.train(params, d_train, categorical_feature = cate_features_name)
    y_pred = lgb_model.predict(x_test)
    r2_scr=r2_score(y_test,y_pred)
    scores.append(r2_scr)
print("Mean r2 score for lgbm regressor: ",np.array(scores).mean())
print("standard deviation in r2 score for lgbm regressor: ",np.array(scores).std())
print(scores)

Mean r2 score for lgbm regressor:  0.7429229747116591
standard deviation in r2 score for lgbm regressor:  0.04091918131884591
[0.6626256771252526, 0.7692618925102895, 0.7551195983056711, 0.7535636711389538, 0.7740440344781282]

In [115]:
#lets chcek for random forset
print("RANDOM FOREST\n\n")
model_evaluation(rfr,df_x,y)

RANDOM FOREST


Mean r2 score for regressor:  0.7059432090791483
standard deviation in r2 score for regressor:  0.04504352059447023
[0.63576314 0.74709621 0.67875829 0.7094843  0.7586141 ]

In [116]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = 43,test_size=0.20)
d_train = lgb.Dataset(x_train, label=y_train)
lgb_model = lgb.train(params, d_train, categorical_feature = cate_features_name)
y_pred = lgb_model.predict(x_test)

In [117]:
#Lets find the rmse and r2_score using sklearn.metrics for random forest model
print("RMSE is: ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score is: ",r2_score(y_test,y_pred))

RMSE is:  294.1701845492247
r2_score is:  0.7809430481295782

In [118]:
#From above we see lgbm is performing better so we will use it to make our final predictions
cost_pred=lgb_model.predict(df_test,predict_disable_shape_check=True)

In [119]:
#lets make the dataframe for cost_pred
cost_pred=pd.DataFrame(cost_pred,columns=["COST"])

In [120]:
#Lets save the submission to csv
cost_pred.to_csv("Food_Cost_Predictions.csv",index=False)

In [121]:
# save the model
import pickle
filename = 'Food_Cost_Predictions.pkl'
pickle.dump(lgb_model, open(filename, 'wb'))

***